@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* #region reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* #endregion */

/* #region global properties */
:root {
  --color-purple-100: 254deg 88% 90%;
  --color-purple-500: 256deg 67% 59%;
  --color-yellow-100: 31deg 66% 93%;
  --color-yellow-500: 39deg 100% 71%;
  --color-black: 0deg 0% 7%;
  --text-preset-1: normal 500 2.875rem/91.304% "DM Sans", sans-serif;
  --text-preset-2: normal 500 2rem/87.5% "DM Sans", sans-serif;
  --text-preset-3: normal 500 1.625rem/92% "DM Sans", sans-serif;
  --text-preset-4: normal 400 1.125rem/111% "DM Sans", sans-serif;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-100: 0.5rem;
}

@media screen and (min-width: 768px) {
  :root {
    --text-preset-1: normal 500 3.375rem/89% "DM Sans", sans-serif;
    --text-preset-2: normal 500 2.25rem/83% "DM Sans", sans-serif;
    --text-preset-3: normal 500 1.75rem/93% "DM Sans", sans-serif;
  }
}

@media screen and (min-width: 1120px) {
  :root {
    --text-preset-1: normal 500 3.875rem/93.5% "DM Sans", sans-serif;
    --text-preset-2: normal 500 2.5rem/90% "DM Sans", sans-serif;
    --text-preset-3: normal 500 2rem/87.5% "DM Sans", sans-serif;
  }
}
/* #endregion */

/* #region utilities */
.text-preset-1 {
  font: var(--text-preset-1);
  letter-spacing: -0.115rem;
}

.text-preset-2 {
  font: var(--text-preset-2);
  letter-spacing: -0.12rem;
}

.text-preset-3 {
  font: var(--text-preset-3);
  letter-spacing: -0.0975rem;
}

.text-preset-4 {
  font: var(--text-preset-4);
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .text-preset-1 {
    letter-spacing: -0.135rem;
  }

  .text-preset-2 {
    letter-spacing: -0.135rem;
  }

  .text-preset-3 {
    letter-spacing: -0.105rem;
  }
}

@media screen and (min-width: 1120px) {
  .text-preset-1 {
    letter-spacing: -0.1875rem;
  }

  .text-preset-2 {
    letter-spacing: -0.125rem;
  }

  .text-preset-3 {
    letter-spacing: -0.125rem;
  }
}

.text-white {
  color: white;
}

.text-black {
  color: hsl(var(--color-black));
}

.text-yellow-100 {
  color: hsl(var(--color-yellow-100));
}

.text-yellow-500 {
  color: hsl(var(--color-yellow-500));
}

.text-purple-500 {
  color: hsl(var(--color-purple-500));
}

.bg-white {
  background-color: white;
}

.bg-purple-100 {
  background-color: hsl(var(--color-purple-100));
}

.bg-purple-500 {
  background-color: hsl(var(--color-purple-500));
}

.bg-yellow-500 {
  background-color: hsl(var(--color-yellow-500));
}

.bg-yellow-100 {
  background-color: hsl(var(--color-yellow-100));
}
/* #endregion */

body {
  background-color: hsl(300deg 5% 96%);
}

.bento-grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  margin: var(--spacing-400) var(--spacing-200);
}

@media screen and (min-width: 768px) {
  .bento-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-block-end: 4.73125rem;
    margin-block-start: 3.25rem;
    margin-inline: 2.5rem;
  }
}

@media screen and (min-width: 1184px) {
  .bento-grid {
    grid-template-areas:
      "create stars stars schedule"
      "create multiple consistent schedule"
      "ai-content multiple consistent schedule"
      "ai-content audience grow grow";
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr 4rem repeat(2, 1fr);
    margin-block-end: unset;
    margin-block-start: 5.1875rem;
    margin-inline: auto;
    max-height: 55.0625rem;
    width: 70rem;
  }
}

.bento-item {
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.five-stars {
  align-items: center;
  justify-content: center;
  padding: var(--spacing-500) var(--spacing-400);
  text-align: center;
}

.five-stars img {
  margin-block-start: var(--spacing-300);
}

.five-stars p:last-of-type {
  margin-block-start: var(--spacing-100);
}

@media screen and (min-width: 768px) {
  .five-stars {
    grid-column: span 2;
    height: 20.25rem;
    padding: var(--spacing-400);
  }

  .five-stars p:first-of-type {
    width: 12ch;
  }
}

@media screen and (min-width: 1184px) {
  .five-stars {
    grid-area: stars;
  }
}

.multiple-platforms,
.consistent-schedule {
  padding: var(--spacing-200);
}

.multiple-platforms p {
  margin-block-start: var(--spacing-200);
}

@media screen and (min-width: 768px) {
  .multiple-platforms {
    align-items: flex-start;
    justify-content: space-between;
    min-height: 15.4375rem;
    overflow-x: hidden;
    padding: var(--spacing-300) 0 var(--spacing-300) var(--spacing-300);
  }

  .multiple-platforms img {
    object-fit: cover;
    object-position: left;
  }

  .multiple-platforms p {
    width: 12ch;
  }
}

@media screen and (min-width: 1184px) {
  .multiple-platforms {
    grid-area: multiple;
  }

  .multiple-platforms p {
    width: 9ch;
  }
}

.consistent-schedule {
  align-items: flex-start;
  gap: var(--spacing-200);
  height: 216.25px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .consistent-schedule {
    min-height: 15.4375rem;
    padding: var(--spacing-300) var(--spacing-300) 0 var(--spacing-300);
  }
}

@media screen and (min-width: 1184px) {
  .consistent-schedule {
    grid-area: consistent;
  }
}

.schedule-posts {
  align-items: center;
  gap: var(--spacing-300);
  justify-content: center;
  padding: var(--spacing-400) var(--spacing-100);
}

.schedule-posts p {
  text-align: center;
  width: 23ch;
}

@media screen and (min-width: 768px) {
  .schedule-posts {
    grid-column: span 2;
    padding: var(--spacing-400);
  }
  .schedule-posts p {
    width: 28ch;
  }
}

@media screen and (min-width: 1184px) {
  .schedule-posts {
    align-items: flex-start;
    gap: var(--spacing-300);
    grid-area: schedule;
    padding: var(--spacing-400) 0 var(--spacing-400) var(--spacing-400);
  }

  .schedule-posts p {
    text-align: left;
  }

  .schedule-posts img {
    object-fit: cover;
    object-position: left;
  }

  .schedule-posts p:first-of-type {
    width: 10ch;
  }

  .schedule-posts p:last-of-type {
    width: 15ch;
  }
}

.grow-followers {
  align-items: center;
  gap: var(--spacing-500);
  justify-content: center;
  padding: var(--spacing-300);
}

.grow-followers p {
  text-align: center;
  width: 10ch;
}

@media screen and (min-width: 768px) {
  .grow-followers {
    flex-direction: row;
    grid-column: span 2;
  }

  .grow-followers p {
    text-align: left;
  }
}

@media screen and (min-width: 1184px) {
  .grow-followers {
    gap: var(--spacing-200);
    grid-area: grow;
  }

  .grow-followers p {
    width: 16ch;
  }
}

.audience-growth {
  align-items: flex-start;
  padding: var(--spacing-300);
  gap: var(--spacing-300);
}

.audience-growth p:last-of-type {
  margin-block-start: 0.9375rem;
}

@media screen and (min-width: 640px) {
  .audience-growth {
    align-items: center;
    flex-direction: row;
    grid-column: span 2;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1184px) {
  .audience-growth {
    flex-direction: column;
    grid-area: audience;
  }
}

.create-post {
  align-items: flex-start;
  gap: var(--spacing-300);
  justify-content: center;
  padding: var(--spacing-400);
}

@media screen and (min-width: 768px) {
  .create-post {
    padding: var(--spacing-300);
  }

  .create-post p {
    width: 12ch;
  }
}

@media screen and (min-width: 1184px) {
  .create-post {
    grid-area: create;
  }

  .create-post p {
    width: 8ch;
  }
}

.ai-content {
  align-items: flex-start;
  gap: var(--spacing-300);
  padding: var(--spacing-300);
}

@media screen and (min-width: 768px) {
  .ai-content p {
    width: 10ch;
  }
}

@media screen and (min-width: 1184px) {
  .ai-content {
    grid-area: ai-content;
  }

  .ai-content p {
    width: 8ch;
  }
}

.attribution {
  font-size: 11px;
  padding-block: var(--spacing-200);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
